.content{
    position: fixed;
    z-index:3;
}

.logo{
    margin: .1em;
    padding-top: .4em;
}

img{
    padding: .5em;
    width: 3.3em;
    height: 3.3em;
}

.spacer{
    -webkit-box-flex:1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}