<menubar-component></menubar-component>
<br>
<br>
<br>
<br>
<form (ngSubmit)="logino()">

    <div layout="row" layout-margin>
    <md-input-container flex>
      <input required type="text" mdInput placeholder="Login" name="username" [(ngModel)]="username" class="form-control" mdInput />
    </md-input-container>
  </div>

  <div layout="row" layout-margin>
    <md-input-container flex>
      <input required type="password" mdInput placeholder="Password" name="password" [(ngModel)]="password" class="form-control" mdInput />
    </md-input-container>
  </div>
  <button md-raised-button class="text-upper" type="submit">Login</button>
  </form>