<md-card class="card">
  <md-card-header>
    <div  class="header-image row">
        <img md-card-sm-image src="assets/images/avatar.jpg" alt="Avatar" class="col offset-s6 circle responsive-img valign profile-image">
    </div>
    <md-card-title>{{publicator}}</md-card-title>
    <md-card-subtitle><b>Fecha Entrega: </b>{{publicationDate}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src={{publicationImg}}>
  <md-card-content>
    <p>
      {{publicationText}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-mini-fab></button>
    <button md-mini-fab></button>
  </md-card-actions>
</md-card>
<input type="text" [(NgModel)]='value'>
<p>{{value}}</p>
