<md-card class="card">
  <md-card-header>
    <div  class="header-image">
        <img md-card-sm-image src="assets/images/avatar.jpg" alt="Avatar" class="circle responsive-img valign profile-image">
    </div>
    <md-card-title>{{publicador}}</md-card-title>
    <md-card-subtitle><b>Fecha Entrega: </b>21/03/2017</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/images/isom.PNG">
  <md-card-content>
    <p>
      Prueba
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-mini-fab></button>
    <button md-mini-fab></button>
  </md-card-actions>
</md-card>
