<md-card (click)="ola()">
  <md-card-header>
      <img md-card-avatar src="../assets/images/avatar.jpg">
      <md-card-title>{{publicator}}</md-card-title>
      <md-card-subtitle><div class="element"><b>Fecha de publicación: </b>{{publicationDate}}</div><div class="element" *ngIf="accessLevel>1">{{publicationGroup}}</div></md-card-subtitle>
  </md-card-header>
  <img *ngIf="publicationFile!=''" width="450px" height="500px" class="image" md-card-lg-image [src]="publicationFile">
  <md-card-content>
    <h3 class="md-subhead">{{publicationText}}</h3>
  </md-card-content>
</md-card>