menubar-component{
    z-index:3;
    position: fixed;
}

.toggler{
    position: relative;
    z-index: 4;
    flex-basis: 30px;
    width: 60px;
    height: 60px;
    top: .3em;
    left: 1em;
    display: none;
}

.toggler img{
    width:60px;
    height:60px;
    border-radius: 50%;
}

@media(max-width:600px){
    .toggler{
        display: flex;
    }
    .publication-content{
        flex:1;
        flex-basis: 100%;
    }
    .spacer{
        display: none;
    }
}

.example-sidenav-fab-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/*Sidenav Content*/
.example-sidenav-fab-container md-sidenav{
  max-width: 230px;

}

.example-sidenav-fab-container .md-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.example-scrolling-content {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.example-sidenav-fab-container{
    position: fixed;
    top: 3.9rem;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.profile-container{
    display: flex;
    width:230px;
    height: 6rem;
    background-image: url("../assets/images/user-bg.jpg");
}
.profile-img{
    flex:1;
    margin: auto;
    padding-left: 1em;
}
.profile-img img{
    border-radius: 50%;
}
.profile-data{
    flex:1;
    margin: auto;
}

ul{
    text-decoration: none;
    list-style: none;
}

.sidenav-data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.element1{
    flex-basis: 100%;
    
}
button{
    width: 100%;
}
button:hover{
    background-color: #e0e0e0;
}

hr{
    width: 100%;
    height:3px;
	border: 0;
	box-shadow: 0 10px 10px -10px #bdbdbd inset;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.spacer{
    flex:1;
}
.publication-element{

    position:relative;
    flex:1;
    flex-direction: column;
    top:75px;
}