<menubar-component></menubar-component>
<sidenav-component accessLevel={{accessLevel}}></sidenav-component>
<div class="row">
  <h1 class="col offset-s4">{{Object.keys(groups)}}</h1>
  <publicator-component class="col offset-s4" *ngIf="accessLevel>0"></publicator-component>
  <publication-container-component class="col offset-s4"  *ngIf="contentMode==0; else assi"></publication-container-component>
    <ng-template #assi>
      <assignature-component class="col offset-s4"></assignature-component>
    </ng-template>
</div>