<div class="col s12 m6 l4 hola">
                                <div id="profile-card" class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="images/user-bg.jpg" alt="user background">
                                    </div>
                                    <div class="card-content">
                                        <img src="images/avatar.jpg" alt="" class="circle responsive-img activator card-profile-image">
                                        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
                                            <i class="mdi-action-account-circle"></i>
                                        </a>

                                        <span class="card-title activator grey-text text-darken-4">Angel Marcos</span>
                                        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Programación</p>
                                        <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> 4IM8</p>
                                        <p><i class="mdi-communication-email cyan-text text-darken-2"></i> 20160090395</p>
                                      
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Angel Mauricio Marcos Montes <i class="mdi-navigation-close right"></i></span>
                                        <p>Información acerca de ti</p>
                                        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Programación</p>
                                        <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> no se que poner aqui</p>
                                        <p><i class="mdi-communication-email cyan-text text-darken-2"></i> 2016090395</p>
                                        <p><i class="mdi-social-cake cyan-text text-darken-2"></i> INSCRITO</p>
                                        <p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i>Materias adeudadas: 1</p>
                                    </div>
                                </div>
                            </div>